*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #fff;
}
li{
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
}
.banner{
	background:rgba(0,0,0,0.75);
	color: #fff;
	height: 40px;
}
.banner-text{
	padding: 10px 0px 0px 20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
}
.banner-links ul{
	font-size: 1.4em;
	float:right;
	margin-right: 60px;
	padding: 10px 0px;
}
.banner-links ul li{
	padding: 0px 10px;
	float: left;
}
.banner-link-border{
	border-right: 2px solid #FFF;
}
.navbar{
	height: 35px;
	background-color:  #4881F2;
}
.navbar ul{
	margin-left: 10px;
}
.navbar ul li{
	padding: 5px 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
}
.main{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 920px;
	margin: 0 auto;
	height: auto;
	background-color: #C3E2E8;
	margin-top: 50px;
}
.main-category{
	cursor: pointer;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 10px 40px;
	float: left;
	height:150px;
	width: 150px;
	text-align: center;
}
.main-category-image{
}
.main-category-text{
}
.main-category-6{
	background-color: #01475B;
}
	

	