*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
}
td,th{
	font-weight: normal;
}
a{
	text-decoration:none;
	color: #fff;
}
.cm-main, .sm-main, .pm-main{
	margin: 0px auto;
	background color: #C3E2E8;
	margin-top: 200px;
	width: 1000px;
}
.cat-table, .subcat-table, .product-table{
	border-collapse:collapse;
	width: 1010px;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
}
.cat-heading, .subcat-heading, .product-heading{
	border: 1px solid grey;
	border-radius: 3px;
	color: #fff;
	padding: 5px 10px;
	background-color: #19AAD8;
	font-size: 1.2em;
}
.cat-row-data, .subcat-row-data, .product-row-data{
	text-align:center;
	padding: 10px 40px;
}
.cat-row-data a{
	border-radius: 5px;
	background-color: #4881F2;
	padding: 5px 20px;
	text-decoration:none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.subcat-row-data a{
	border-radius: 5px;
	background-color: #4881F2;
	padding: 5px 20px;
	text-decoration:none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.product-row-data a{
	border-radius: 5px;
	background-color: #4881F2;
	padding: 5px 12px;
	text-decoration:none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.cm-main .cm-main-topbar{
	padding: 10px 10px;
	padding-right: 0px;
	width: inherit;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
}
.sm-main .sm-main-topbar{
	padding: 10px 10px;
	padding-right: 0px;
	width: inherit;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
}
.pm-main .pm-main-topbar{
	padding: 10px 10px;
	padding-right: 0px;
	width: inherit;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
}